<!-- Element Showed -->
<a id="menu" class="waves-effect waves-light btn btn-floating indigo darken-4"  onclick="$('.tap-target').tapTarget('open')"><i class="material-icons">menu</i></a>
<!-- Tap Target Structure -->
<div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
        <!--Texts-->
        <p id="quick_add">Quick links</p>
        <br />
        <button class="btn waves-effect waves-light" onclick="Materialize.toast('Link Copied', 4000)" style="font-size:12px;" data-clipboard-text="https://www.youtube.com/watch?v=fqCaw-UHoZM">Click here to copy a youtube link.</button>
        <br/><br />
        <button class="btn waves-effect waves-light" onclick="Materialize.toast('Link Copied', 4000)" style="font-size:12px;" data-clipboard-text="https://www.youtube.com/watch?v=XN1zrRspy7E">Click here to copy a youtube link.</button>
        
    </div>
</div>
<div id="loader-wrapper">
    <div id="loader"></div>        
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<nav class="nav-color">
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <span class="pull-left">
                <img src="build/img/logo.png" height="50" width="50" class="logo-img left" alt="logo" />
                <p class="logo-txt left">RADIO ON</p>
            </span>
            <ul class="req-input right">
                <li><input class="inputbox right" placeholder="Eg. https://www.youtube.com/watch?v=jJ4Cb9qRgMw" type="text" class="validate" id="song" ng-model="inputurl"/></li>
                <li><button class="waves-effect waves-light btn right" ng-click="addsong(inputurl)" id="addsong">Add Song</button></li>
            </ul>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <br /><br />
    <div class="logo">
        <ul class="logo-text">
            <span>
                <img src="build/img/logo.png" height="50" width="50" class="logo-img left" alt="logo" />
                <p class="logo-txt left">RADIO ON</p>
            </span>
        </ul>
        <br/>
        <center>
            <ul class="req-input right">
                <li><input class="inputbox right" placeholder="Eg. https://www.youtube.com/watch?v=jJ4Cb9qRgMw" type="text" class="validate" id="song" ng-model="inputurl"/></li>
                <li><button class="waves-effect waves-light btn right" ng-click="addsong(inputurl)" id="addsong">Add Song</button></li>
            </ul>
        </center>
    </div>
</ul>
<br /><br />
<section>
    <div class="container">
        <p id="quick_add">Quick Add <span> (Click on image to add song to playlist) </span></p>
        <br/>
        <div class="row" id="sec_column">
            <div class="col s12 l12 m12">

                <div class="circle">
                    <img src="../assests/img/Akshay_Kumar.jpg" height="100" width="100" style="border-radius:50%; cursor:pointer;" class="waves-effect waves-light"  ng-click="addsong('https://www.youtube.com/watch?v=AihilcnejBA')"/> 
                    <img src="../assests/img/AR_Rahman.jpg" height="100" width="100" class="waves-effect waves-light" style="border-radius:50%; cursor:pointer;"  ng-click="addsong('https://www.youtube.com/watch?v=30zJZPb-o3Q')"/>
                    <img class="waves-effect waves-light" src="../assests/img/Udit_Narayan.jpg" height="100" width="100" style="border-radius:50%; cursor:pointer;"  ng-click="addsong('https://www.youtube.com/watch?v=Ohvgpgox38Q')"/>
                    <img src="../assests/img/Sukhwinder_Singh.jpg" class="waves-effect waves-light" height="100" width="100" style="border-radius:50%; cursor:pointer;"  ng-click="addsong('https://www.youtube.com/watch?v=abiL84EAWSY')"/>
                    <img src="../assests/img/Arijit_Singh.jpg" height="100" width="100" class="waves-effect waves-light" style="border-radius:50%; cursor:pointer;"  ng-click="addsong('https://www.youtube.com/watch?v=Z1wN6_mCYbw')"/>
                    <img class="waves-effect waves-light" src="../assests/img/Salman_Khan.jpg" height="100" width="100" style="border-radius:50%; cursor:pointer;"  ng-click="addsong('https://www.youtube.com/watch?v=FIMz4M2Vuw4')"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <br /><br/>
    <div class="container">
        <p class="current-playlist-text">Your Playlist</p>
        <div class="row">
            <div class="col s12 m6 l4" ng-repeat=" x in playlist_item">

                <div class="card blue-grey darken-1">
                    <div class="overlay waves-effect waves-light" data-target="modal1" id="modal-trigger"  ng-click="addToCurrentPlaylist(x.id)">
                        <iframe ng-src="{{x.embed_url | trustUrl}}"  frameborder="0" allowfullscreen></iframe>
                        <div class="effect"><i class="fa fa-youtube-play fa fa-2x" id="player"></i></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Modal Trigger-->
<div id="modal1" class="modal bottom-sheet row modal1">
    <div class="modal-content s12 l4 m6" style="width:40%;"id="modal-content-video">
        <iframe ng-src="{{embed_new_url | trustUrl}}"  frameborder="0" allowfullscreen></iframe>
        <div class="modal-footer">
            <button class="btn waves-effect waves-green" ng-click="remove(remove_id)">Remove Manually</button>
        </div>
    </div>
